<div class="modal-header">
  <h5 class="modal-title">{{ modalTitle | titlecase }}</h5>
  <button
    type="button"
    (click)="onClose()"
    class="close"
    data-dismiss="modal"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formGroup" (ngSubmit)="onSave()">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        formControlName="title"
        type="text"
        class="form-control"
        id="title"
        placeholder="Enter Course Title"
      />
    </div>
    <div class="form-group">
      <label for="title">Price ($)</label>
      <input
        formControlName="price"
        type="number"
        class="form-control"
        id="price"
        placeholder="00.00"
      />
    </div>
    <div class="form-group">
      <label for="title">Description</label>
      <textarea
        formControlName="description"
        rows="5"
        class="form-control"
        id="desc"
        placeholder="Enter Description"
      ></textarea>
      <div class="modal-footer">
        <button (click)="onSave()" type="button" class="btn btn-primary"
        [disabled]="formGroup.status === 'INVALID'"
        >Save</button>
        <button
          (click)="onClose()"
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </form>
</div>

