<!-- Navigation -->
<app-nav-bar></app-nav-bar>

<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-lg-3">

      <!--Catalog-->
      <app-filters></app-filters>

    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">

      <!--carousel-->
      <app-carousel></app-carousel>

      <!--courses-->
      <app-courses></app-courses>

      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->


<!-- <app-footer></app-footer> -->
<footer my-footer class="py-5 bg-dark">
  <!-- Footer -->
</footer>
